html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #222;
}

.navbar{
    padding: .8rem;
}

.navbar-nav{
    padding-right: 20px;
}

.navbar-brand{
    font-size: 2rem !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important; 
    /*font-weight: bold !important;*/
}

.nav-link{
    font-size: 1.1rem !important;
}

#slides{
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-caption{
    top: 50%;
    position: absolute;
}

.carousel-indicators{
    background-color: grey;
    /*transform: translateY(+10px);*/
}

#titoloCat{
    margin-top: 10%;
    margin-bottom: 5%;
}

.btn-primary{
    background-color: lightgrey;
}


