html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #222;
}

.navbar{
    padding: .8rem;
}

.navbar-nav{
    padding-right: 20px;
}

.navbar-brand{
    font-size: 2rem !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.nav-link{
    font-size: 1.1rem !important;
}

#slides{
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-caption{
    top: 50%;
}

.carousel-indicators{
    top: 90%;
}

#titoloCat{
    margin-top: 10%;
    margin-bottom: 5%;
}

.btn-primary{
    background-color: lightgrey;
}

footer{
    margin-top: 5%;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer div.col-md-12{
    margin-top: 2rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

#socials a, #payments a{
    font-size: .4em;
}




