html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #222;
}

.navbar{
    padding: .8rem;
}

.navbar-nav{
    padding-right: 20px;
}

.navbar-brand{
    font-size: 2rem !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.nav-link{
    font-size: 1.1rem !important;
}

#slides{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.btn-primary{
    background-color: lightgrey;
    color: #3f3f3f;
    border: 1px solid #3f3f3f;
}

.btn-primary:hover{
    background-color: #3f3f3f;
    color: #d5d5d5;
    border: 1px solid #3f3f3f;
}

#titoloCat{
    margin-top: 10%;
   /* margin-bottom: 5%; */
}

.upCat, .downCat{
    border-top: 1px solid #3f3f3f;
    width: 75%;
}

#cardPadding{
    margin-top: 5%;
}

#categories, #events{
    padding-left: 8%;
    padding-right: 8%;
}


footer{
    margin-top: 5%;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer div.col-md-12{
    margin-top: 2rem;
}

#socials, #payments{
    margin-top: .1em;
    margin-bottom: .5em;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

#socials a, #payments a{
    font-size: .4em;
    color: #d5d5d5;
}

#badge-num{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.tab-event{
    border-top: 1px solid #3f3f3f;
}

#btn-event, #btn-info{
    margin-top: 2em;
}

#events{
    margin-top: 5%;
}

@media only screen and (max-width: 600px){
    #titoloCat h4{
        font-size: 1.5em;
    }
}



